.header {
    border-bottom: 1px solid rgba(138, 138, 137, 0.2);
}

.container {
    max-width: 1440px;
    padding: 20px 128px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: 'Montseray', sans-serif;
    color: #3470ff;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
}

.heart {
    display: inline-block !important;
    border: none;
    text-align: center !important;
    padding: 10px !important;
    width: 32px !important;
    transition: all 0.5s !important;
    cursor: pointer !important;
}

.heart:hover {
    cursor: pointer;
    transform: scale(1.5);
}